In [2]:
import statistics as stats

In [3]:
import pandas as panda
data=panda.read_csv('C:/ADS-R/ClassData.csv')
print(data)

    No   GPA  Years of work experience  Latest salary (per year)  \
0    1  3.50                       2.5                     45000
1    3  3.80                       1.0                     65000
2    4  3.80                       2.0                     85000
3    5  3.41                       1.5                     10000
4    6  3.33                       5.0                     70000
5    7  3.52                       2.5                     27000
6    8  3.50                       2.0                     40000
7    9  3.50                       5.0                     75000
8   10  3.60                       2.5                     65000
9   11  3.20                       4.0                     62000
10  12  3.50                       2.0                     60000
11  13  3.67                       1.8                     60000
12  14  3.50                       2.0                     60000
13  15  3.47                       2.5                     70000
14  16  3.06                       1.3                     40000
15  17  3.27                       2.0                     60000
16  18  3.53                       4.0                     50000
17  19  4.00                       4.0                     50000
18  20  3.40                       1.0                     30000
19  21  3.54                       1.0                     40000
20  22  3.50                       2.0                     75000
21  23  3.50                       4.0                     50000
22  24  3.40                       3.0                     50000
23  26  3.30                       4.0                     65000
24  27  3.90                       6.0                     90000
25  28  3.17                       1.0                     50000
26  29  3.48                       3.5                     60000
27  30  3.93                       4.0                     43000
28  31  3.43                       4.0                     60000
29  32  3.33                       5.0                      5000
30  33  3.60                       1.5                     60000
31  34  3.80                       3.0                     65000
32  35  3.50                       3.0                     65000
33  36  3.39                       2.0                     60000

    Highest GPA   Lowest GPA Coops/Internships (YN)  \
0           3.50        3.50                      N
1           3.60        3.00                      Y
2           4.00        3.60                      Y
3           3.41        3.33                      N
4           3.67        3.00                      Y
5           3.58        3.52                      N
6           3.70        3.30                      N
7           3.53        3.30                      Y
8           3.90        3.10                      Y
9           3.80        3.00                      N
10          3.50        3.50                      N
11          4.00        3.00                      N
12          3.70        3.30                      Y
13          3.64        3.37                      Y
14          3.64        2.67                      Y
15          4.00        3.00                      Y
16          4.00        3.30                      N
17          4.00        4.00                      Y
18          3.60        3.10                      N
19          4.00        3.42                      Y
20          4.00        3.00                      Y
21          3.80        3.20                      Y
22          3.80        3.20                      Y
23          4.00        3.65                      Y
24          4.00        3.80                      Y
25          3.30        3.00                      N
26          4.00        3.33                      Y
27          4.00        3.28                      Y
28          3.50        3.30                      Y
29          3.66        3.00                      Y
30          3.70        3.40                      Y
31          3.80        3.50                      Y
32          4.00        3.60                      Y
33          3.80        3.20                      Y

    Number of contacts on Linkedin  Expected Salary after graduation
0                              250                             90000
1                              400                            100000
2                              500                             90000
3                              365                            100000
4                              400                            100000
5                              230                             85000
6                              250                             90000
7                              260                            100000
8                              250                            110000
9                              525                            105000
10                             400                             85000
11                             920                            140000
12                             300                             90000
13                             310                             95000
14                             550                            120000
15                             350                            100000
16                             600                             88000
17                             500                            130000
18                             500                             80000
19                             650                             95000
20                             515                             80000
21                             350                            110000
22                             301                             90000
23                             700                            100000
24                             809                            120000
25                             258                            100000
26                             350                            100000
27                             900                            100000
28                             220                            110000
29                             183                            100000
30                             340                            100000
31                             800                             80000
32                             400                             80000
33                             500                             90000

In [14]:
print(min(data['GPA']))
print(max(data['GPA']))
print(stats.mean(data['GPA']))
print(stats.median(data['GPA']))

3.06
4.0
3.50970588235
3.5

In [15]:
print(min(data['Years of work experience']))
print(max(data['Years of work experience']))
print(stats.mean(data['Years of work experience']))
print(stats.median(data['Years of work experience']))

1.0
6.0
2.81176470588
2.5

In [16]:
print(stats.mode(data['Latest salary (per year)']))

60000

In [27]:
NoOfY=(data['Coops/Internships (YN)'] == 'Y').sum()
percentageOfY=NoOfY*100/len(data['Coops/Internships (YN)'])
print(percentageOfY)

70.5882352941

In [28]:
NoOfN=(data['Coops/Internships (YN)'] == 'N').sum()
percentageOfN=NoOfN*100/len(data['Coops/Internships (YN)'])
print(percentageOfN)

29.4117647059

In [30]:
greaterConnections=(data['Number of contacts on Linkedin'] > 500).sum()
print(greaterConnections)

10

In [35]:
import numpy as np
iqr = np.subtract(*np.percentile(data['Expected Salary after graduation'], [75, 25]))
print(iqr)

10000.0